$main-color-accent: #EB282E;
$main-color-background: #FFFFFF;
$main-color-text: #272727;
$login-color-text: #826768;

$nav-t-color: #826768;
$regular: 400;
$semibold: 600;
$bold: 800;


$max-width-viewport: 1280px;