{% load static %}

<div class="navbar-container">
    <div class="burger-icon" style="display: none;">
        <img src="{% static 'img/burger.svg' %}" alt="">
    </div>
    <div class="navbar-main">

        <div class="navbar-page {% if curr_page == 'home' %}navbar-page-focus{% endif %}">
            <a href="{% url 'home' %}">Home</a>
        </div>
        
        {% if user.is_authenticated %}

        {% if user.role == 'patient' %}
        <div class="navbar-page {% if curr_page == 'results' %}navbar-page-focus{% endif %}">
            <a href="{% url 'results' %}">Results</a>
        </div>
        {% endif %}

        {% if user.role == 'doctor' %}
        <div class="navbar-page {% if curr_page == 'doctor-results' %}navbar-page-focus{% endif %}">
            <a href="{% url 'doctor-results' %}">Results</a>
        </div>

        <div class="navbar-page {% if curr_page == 'patient-history' %}navbar-page-focus{% endif %}">
            <a href="{% url 'patient-history' %}">History</a>
        </div>
        
        <div class="navbar-page {% if curr_page == 'upload' %}navbar-page-focus{% endif %}">
            <a href="{% url 'upload' %}">Upload</a>
        </div>

        {% endif %}

        <div class="navbar-page logout-button">
            <form method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" name="logout" class="logout-button">Logout?</button>
            </form>
        </div>
        
        {% else %}
        <a href="{% url 'login' %}">
            <div style="font-weight: bold;" class="navbar-page login-button">
            Fill up to see results
            </div>
        </a>
        {% endif %}
    </div>
</div>
