* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
  color: #272727;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  opacity: 0.8;
}

.main-svg, .sub-svg {
  filter: drop-shadow(-30px -30px 250px #EB282E);
  z-index: -10;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  font-size: 15px;
  color: #826768;
}
.navbar-container .navbar-main {
  max-width: 1280px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  align-items: center;
  height: 60px;
}
.navbar-container .navbar-main .navbar-page {
  margin: 0 20px 0 20px;
}
.navbar-container .navbar-main .navbar-page-focus {
  color: #EB282E;
  font-weight: 600;
}
.navbar-container .navbar-main .navbar-page:hover {
  opacity: 0.8;
  cursor: pointer;
}
.navbar-container .navbar-main .navbar-page:last-child {
  margin-right: 25px;
}
.navbar-container .navbar-main .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 100px;
  height: 40px;
  width: 180px;
  background-color: #EB282E;
  color: #FFFFFF;
}
.navbar-container .navbar-main .logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 100px;
  height: 40px;
  width: 100px;
  background-color: #EB282E;
  color: #FFFFFF;
  border: none;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #EB282E;
  color: #FFFFFF;
  height: 230px;
  padding: 30px;
}
.footer-container .footer-main {
  max-width: 1280px;
  width: 100vw;
}
.footer-container .footer-main > div {
  color: white;
}
.footer-container .footer-main .footer-title {
  font-size: 18px;
  font-weight: 600;
}
.footer-container .footer-main .footer-divs {
  display: flex;
  justify-content: space-between;
}
.footer-container .footer-main .footer-divs .footer-div-title {
  font-weight: 600;
}
.footer-container .footer-main .footer-divs .footer-div > div {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.footer-container .footer-main .footer-divs .footer-div:last-child {
  padding-left: 50px;
  border-left: 2px solid white;
}
.footer-container .footer-main .footer-end {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
.main-content .intro-div {
  max-width: 1280px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  height: calc(100vh - 100px);
}
.main-content .intro-div .intro-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content .intro-div .intro-description .intro-title {
  font-size: 75px;
  font-weight: 800;
  color: #EB282E;
  text-align: center;
}
.main-content .intro-div .intro-description .intro-text {
  font-size: 20px;
  font-weight: 400;
  color: #272727;
  text-align: center;
  max-width: 470px;
}
.main-content .stats-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #EB282E;
  height: 320px;
  color: white;
}
.main-content .stats-container .stats-main {
  max-width: 1280px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.main-content .stats-container .stats-main .stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}
.main-content .stats-container .stats-main .stat > div {
  color: white;
}
.main-content .stats-container .stats-main .stat .stat-num {
  font-weight: 800;
  font-size: 70px;
}
.main-content .stats-container .stats-main .stat .stat-description {
  font-size: 18px;
}
.main-content .contributors-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
.main-content .contributors-container .contributors-main {
  max-width: 1280px;
  width: 100vw;
}
.main-content .contributors-container .contributors-main .contributor-title {
  font-size: 75px;
  font-weight: 800;
  color: #272727;
  margin: 50px 0px 25px 0px;
}
.main-content .contributors-container .contributors-main .contributor-title-focus {
  color: #EB282E;
}
.main-content .contributors-container .contributors-main .contributor {
  margin-left: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-content .contributors-container .contributors-main .contributor-description {
  margin-left: 50px;
  max-width: 650px;
}
.main-content .contributors-container .contributors-main .contributor-description .contributor-name {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
.main-content .contributors-container .contributors-main .contributor-description .contributor-text {
  font-size: 15px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1020px) {
  .navbar-page {
    font-size: 12px !important;
  }
  .login-button {
    width: 150px !important;
    height: 30px !important;
  }
  .intro-div {
    flex-direction: column;
    justify-content: flex-start !important;
    height: fit-content !important;
  }
  .intro-div > div {
    margin: 20px 0px 20px 0px;
  }
  .main-svg {
    width: 200px !important;
    height: auto !important;
  }
  .sub-svg {
    display: none !important;
  }
  .intro-description {
    width: 60vw !important;
  }
  .intro-title {
    font-size: 36px !important;
  }
  .intro-text {
    font-size: 12px !important;
  }
  .stats-main {
    flex-direction: column;
  }
  .stats-main .stat {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stats-main .stat .stat-num {
    font-size: 48px !important;
  }
  .stats-main .stat .stat-description {
    font-size: 11px !important;
  }
  .contributor-description {
    margin: 20px !important;
  }
  .contributor-title {
    font-size: 36px !important;
    margin: 20px 20px 0px 20px !important;
    text-wrap: wrap;
  }
  .contributor {
    flex-direction: column !important;
    margin: 0px !important;
  }
  .contributor > div {
    margin-top: 20px;
  }
  .contributor > div:last-child {
    margin-bottom: 40px;
  }
  .contributor .contributor-text {
    font-size: 12px !important;
    width: 80vw !important;
  }
  .footer-title, .footer-end {
    font-size: 8px !important;
  }
  .footer-div > div {
    font-size: 6px !important;
    margin: 5px !important;
  }
  .footer-container {
    height: 100px !important;
  }
  .footer-div:last-child {
    border-left: none !important;
  }
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.login-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: 30px;
}
.login-container .login-main {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.login-container .login-main > div {
  margin-top: 25px;
}
.login-container .login-main .login-title {
  font-weight: 800;
  font-size: 55px;
  color: #EB282E;
}
.login-container .login-form > div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.login-container label {
  display: block;
  margin-bottom: 10px;
  color: #826768;
}
.login-container .text-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 520px;
  height: 60px;
  border-radius: 100px;
  border: none;
  outline: none;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  color: #272727;
  opacity: 0.8;
  font-size: 15px;
}
.login-container .login-form-remember {
  display: flex;
  align-items: center;
}
.login-container .login-form-remember > div {
  margin-right: 15px;
}
.login-container .login-form-remember .remember-me {
  color: #826768;
  opacity: 0.8;
}
.login-container .login-form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 520px;
  height: 60px;
  border-radius: 100px;
  border: none;
  outline: none;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #EB282E;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
.login-container .login-form-submit-button:hover {
  opacity: 0.8;
}
.login-container .login-new-user {
  display: flex;
}
.login-container .login-new-user > div {
  margin-right: 15px;
}
.login-container .login-new-user .new-user {
  color: #826768;
}
.login-container .login-new-user .signup {
  color: #EB282E;
  font-weight: 600;
}
.login-container .login-extended {
  display: flex;
  justify-content: space-between;
}
.login-container .login-extended .forgot-password {
  color: #826768;
  font-style: italic;
}
.login-container .checkbox {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}
.login-container .checkbox:checked {
  background-color: #EB282E; /* Change to red when checked */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><path d="M13.485 4.057l-7.07 7.07a.75.75 0 0 1-1.06 0l-3.536-3.535a.75.75 0 1 1 1.06-1.061l3.005 3.004 6.54-6.54a.75.75 0 0 1 1.061 1.061z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.results-container .results-main {
  max-width: 1280px;
  width: 100vw;
}
.results-container .results-main .results-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-container .results-main .results-title {
  margin-left: 20px;
}
.results-container .results-main .results-title .results-intro {
  font-size: 19px;
}
.results-container .results-main .results-title .results-diagnosis {
  font-size: 30px;
}
.results-container .results-main .results-title .results-diagnosis span {
  color: #EB282E;
  font-weight: 600;
}
.results-container .results-main .results-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-x: hidden;
}
.results-container .results-main .results-images .results-image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-container .results-main .results-images .results-image-block .results-image .results-image-image {
  width: 330px;
  height: 230px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.results-container .results-main .results-images .results-image-block .results-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.results-container .results-main .results-details, .results-container .results-main .upload-details {
  width: 80%;
  height: 450px;
  padding: 40px;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 40px;
}
.results-container .results-main .results-details .results-details-title, .results-container .results-main .upload-details .results-details-title {
  font-size: 27px;
  color: #EB282E;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.results-container .results-main .results-details hr, .results-container .results-main .upload-details hr {
  border: 0.5px solid #EB282E;
  margin-top: 15px;
  margin-bottom: 15px;
}
.results-container .results-main .results-details .results-details-block .results-details-item, .results-container .results-main .upload-details .results-details-block .results-details-item {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.results-container .results-main .results-details .results-details-block .results-details-item-name, .results-container .results-main .upload-details .results-details-block .results-details-item-name {
  width: 30%;
  font-size: 20px;
  font-weight: 600;
}
.results-container .results-main .results-details .results-details-block .results-details-item-value, .results-container .results-main .upload-details .results-details-block .results-details-item-value {
  font-size: 18px;
  width: 70%;
}

@media screen and (max-width: 1020px) {
  .results-images {
    flex-direction: column !important;
  }
  .results-details {
    padding: 20px !important;
  }
  .results-details-title {
    font-size: 20px !important;
  }
  .results-details-item-name, .results-details-item-value {
    font-size: 14px !important;
  }
  .results-details-item-name {
    margin-right: 15px !important;
  }
}
.assigned-reports {
  width: 100%;
  max-width: 1440px;
  gap: 20px;
  display: flex;
  overflow: hidden;
  height: 120vh;
}
.assigned-reports-left-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px 30px;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 60px;
  gap: 20px;
}
.assigned-reports-left-panel .search-container {
  position: sticky;
  top: 0;
  width: 100;
  z-index: 2;
}
.assigned-reports-left-panel .search-container .search-input {
  width: 100%;
  padding: 10px 40px 10px 40px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}
.assigned-reports-left-panel .search-container .search-input:focus {
  border-color: #007bff;
}
.assigned-reports-left-panel .search-container .search-icon {
  position: absolute;
  width: 14px;
  height: auto;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #007bff;
}
.assigned-reports-right-panel {
  margin: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  overflow-y: auto;
  scrollbar-width: none;
  margin-bottom: 50px;
}
.assigned-reports-right-panel p {
  text-align: center;
  font-size: 1.2rem;
}
.assigned-reports .active-card {
  border-right: solid red;
}
.assigned-reports-card {
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.assigned-reports-card:hover {
  background-color: rgba(233, 236, 239, 0.1333333333);
}
.assigned-reports-card.selected {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.assigned-reports-card.selected::before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  font-size: 25px;
  color: #EB282E;
}
.assigned-reports-card-content h2 {
  margin: 0;
  font-size: 16px;
}
.assigned-reports-card-content p {
  margin: 0;
  font-size: 12px;
  color: #6c757d;
}
.assigned-reports-report-details {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin: 0 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.assigned-reports-report-details h1 {
  font-size: 1.375rem;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.upload-container .upload-main {
  max-width: 1280px;
  width: 100vw;
}
.upload-container .upload-main .upload-title {
  font-size: 36px;
  color: #EB282E;
  font-weight: 800;
  margin-left: 30px;
  margin-bottom: 30px;
}
.upload-container .upload-main .upload-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-container .upload-main .upload-image-container .active-image {
  border: 2.5px solid #EB282E !important;
}
.upload-container .upload-main .upload-image-container .upload-image-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  max-width: 80vw;
  max-height: 60vw;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.05);
  border: 2.5px dashed #EB282E;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
}
.upload-container .upload-main .upload-image-container .upload-image-main .upload-image-text {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 70%;
  text-align: center;
}
.upload-container .upload-main .upload-details {
  margin-left: 30px;
}
.upload-container .upload-main .upload-details .upload-details-title {
  font-size: 27px;
  font-weight: 800;
  color: #EB282E;
}
.upload-container .upload-main .upload-details .upload-details-block {
  margin-top: 40px;
  margin-bottom: 75px;
}
.upload-container .upload-main .upload-details .upload-details-block .upload-details-item {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.upload-container .upload-main .upload-details .upload-details-block .upload-details-item-name {
  width: 30%;
  font-size: 20px;
  font-weight: 600;
}
.upload-container .upload-main .upload-details .upload-details-block .upload-details-item-value {
  font-size: 18px;
  width: 70%;
}
.upload-container .upload-main .upload-details .upload-submit {
  margin-bottom: 40px;
  margin-left: 60%;
}
.upload-container .upload-main .upload-details .upload-submit-button {
  background-color: #EB282E;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  height: 45px;
  border-radius: 100px;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
}
.upload-container .upload-main .upload-details .text-upload, .upload-container .upload-main .upload-details .date-upload {
  width: 330px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-size: 15px;
}

@media screen and (max-width: 720px) {
  .upload-title {
    font-size: 24px !important;
  }
  .upload-image-main {
    width: 300px !important;
    height: 200px !important;
  }
  .upload-image-text {
    font-size: 18px !important;
  }
  .upload-details-title {
    font-size: 20px !important;
  }
  .upload-details-block, .upload-details-item {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .text-upload, .date-upload {
    width: 300px !important;
    height: 50px !important;
  }
  .upload-details-item-name {
    width: 150px !important;
  }
  .upload-details-item-name, .upload-details-item-value, .initials {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  .upload-submit {
    margin-left: 50% !important;
  }
}
.doctor-results-body .doctor-results-title {
  color: #EB282E;
  font-weight: 800;
  font-size: 36px;
}
.doctor-results-body .results-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow-x: hidden;
}
.doctor-results-body .results-images .results-image-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doctor-results-body .results-images .results-image-block .results-image .results-image-image {
  width: 300px;
  height: 230px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.doctor-results-body .results-images .results-image-block .results-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.doctor-results-body .results-details, .doctor-results-body .upload-details {
  width: 80%;
  height: 450px;
  margin-bottom: 40px;
}
.doctor-results-body .results-details .results-details-title, .doctor-results-body .upload-details .results-details-title {
  font-size: 27px;
  color: #EB282E;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}
.doctor-results-body .results-details hr, .doctor-results-body .upload-details hr {
  border: 0.5px solid #EB282E;
  margin-top: 15px;
  margin-bottom: 15px;
}
.doctor-results-body .results-details .results-details-block .results-details-item, .doctor-results-body .upload-details .results-details-block .results-details-item {
  display: flex;
  margin-bottom: 20px;
}
.doctor-results-body .results-details .results-details-block .results-details-item-name, .doctor-results-body .upload-details .results-details-block .results-details-item-name {
  width: 30%;
  font-size: 20px;
  font-weight: 600;
}
.doctor-results-body .results-details .results-details-block .results-details-item-value, .doctor-results-body .upload-details .results-details-block .results-details-item-value {
  font-size: 18px;
  width: 70%;
}
.doctor-results-body .upload-submit {
  margin-bottom: 40px;
  margin-left: 60%;
}
.doctor-results-body .upload-submit-button {
  background-color: #EB282E;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  height: 45px;
  border-radius: 100px;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);
}
.doctor-results-body .results-details-item {
  display: flex;
  align-items: center;
}
.doctor-results-body .results-details-item .results-details-item-value, .doctor-results-body .results-details-item input, .doctor-results-body .results-details-item select, .doctor-results-body .results-details-item textarea {
  padding: 15px;
  height: 50px;
  width: 330px !important;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 18px;
}
.doctor-results-body .results-details-item .results-details-item-value {
  background-color: rgba(0, 0, 0, 0.025);
  color: rgba(0, 0, 0, 0.75);
}
.doctor-results-body .results-details-item .remarks {
  width: 70% !important;
  height: 100px;
  text-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .assigned-reports {
    justify-content: center;
  }
  .assigned-reports-left-panel {
    width: 90vw !important;
  }
  .assigned-reports-right-panel {
    display: none !important;
  }
}
@media screen and (max-width: 500px) {
  .burger-icon {
    display: block !important;
    z-index: 500 !important;
    margin-right: 15px !important;
  }
  .navbar-container {
    height: 60px !important;
    align-items: flex-end !important;
    flex-direction: column;
    position: fixed !important;
    background-color: white !important;
  }
  .navbar-main {
    display: none !important;
    z-index: 500 !important;
  }
  .navbar-main.active {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    top: 60px !important;
    height: calc(100vh - 60px) !important;
    background-color: #EB282E;
  }
  .navbar-main.active .navbar-page {
    color: white !important;
    font-size: 20px !important;
    margin-top: 15px !important;
  }
  .navbar-main.active .navbar-page button {
    background-color: white !important;
    color: #EB282E !important;
    margin-top: 30px !important;
  }
  .main-content {
    margin-top: 60px !important;
  }
}
.error-links .error-image {
  width: 600px;
}
.error-links .large-error-message {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
}
.error-links .small-error-message {
  margin-top: 15px;
}

#loading-spinner {
  text-align: center;
  z-index: 9999 !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading-spinner .spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #EB282E;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */