{% load socialaccount %}
{% load static %}
{% include "main/links.html" %}

<div class="login-container">
    <div class="login-main">
        <div class="login-title">Hello Doctor!</div>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                <div class="login-form-username">
                    <input type="text" name="username" class="text-input-field" id="username-login" placeholder="Username">
                </div>
                <div class="login-form-password">
                    <input type="password" class="text-input-field" name="password" id="password-login" placeholder="Password">
                </div>
                {% if error %}
                <div style="color:#EB282E; font-weight:bold" class="error-login">
                    Invalid credentials, please try again.
                </div>
                {% endif %}

                <div class="login-form-password">
                    <a href="{% provider_login_url 'google' %}?next=/">
                        <div style="background-color:#EB282E; color: white; opacity: 0.99; font-weight: bold; display:flex; justify-content: center; font-size: 18px;" class="text-input-field">
                            <img style='height: 20px; width:20px; margin-right: 15px; filter: drop-shadow(0px 0px 10px rgba(80,80,80,1.0));' src="{% static 'img/google.png' %}" alt="">
                            Sign in with Google
                        </div>
                    </a>
                </div>


                


                <div class="login-form-remember">
                    <div class="remember-me-checkbox">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="remember-me">Remember me</div>
                </div>
                <div class="login-form-submit">
                    <button type="submit" class="login-form-submit-button">Login</button>
                </div>
                <div class="login-extended">
                    <div class="login-new-user">
                        <div class="new-user">New user?</div>
                        <div class="signup">
                            <a href="{% url 'signup' %}">Signup</a>
                        </div>
                    </div>
                    <div class="forgot-password">
                        <a href="{% url 'login' %}">View results as patient?</a>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    
    <div class="login-icon">
        <img class='sub-svg' src="{% static 'img/sub-icon.svg' %}" alt="">
    </div>    
</div>