{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<div class="intro-div">
    <div class="intro-icon">
        <img class='main-svg' src="{% static 'img/main-icon.svg' %}" alt="">               
    </div>
    <div class="intro-description">
        <div class="intro-title">LiverScan V</div>
        <div class="intro-text">LiverScan V is a computer vision model that automatically detects and segments focal liver lesions including tumor, cyst, and abscess. It is developed to streamline multi-class segmentation of FLLs for faster diagnosis.</div>
    </div>
</div>
<div class="stats-container">
    <div class="stats-main">
        <div class="stat">
            <div class="stat-num">
                {{ diagnosed }}
            </div>
            <div class="stat-description">
                patient diagnosed
            </div>
        </div>
        <div class="stat">
            <div class="stat-num">
                99%
            </div>
            <div class="stat-description">
                detection accuracy
            </div>
        </div>
        <div class="stat">
            <div class="stat-num">
                20
            </div>
            <div class="stat-description">
                diagnosis time in seconds
            </div>
        </div>
    </div>
</div>
<div class="contributors-container">
    <div class="contributors-main">
        <div class="contributor-title">
            Meet the team behind
            <br>
            <span class="contributor-title-focus">LiverScan V</span>
        </div>
        <div class="contributors">
            <div class="contributor">
                <div class="contributor-image">
                    <img src="{% static 'img/jrt.svg' %}" alt="Dr. Justin Ryan Tan, MD">
                </div>
                <div class="contributor-description">
                    <div class="contributor-name">Dr. Justin Ryan Tan, MD</div>
                    <div class="contributor-text">Dr. Justin Tan, or Dr. TJ,  is a board-certified gastroenterologist specializing in Endoscopic Ultrasound and ERCP. His medical interests include pancreaticobiliary diseases as well as palliative interventional endoscopic procedures. During his international training, he focused on treating a range of pancreatic and biliary conditions, including chronic pancreatitis, pancreatic cystic neoplasms, tumors, stones, strictures, and tumors of the bile ducts.</div>
                    <div class="contributor-trail-icon">
                        <svg width="144" height="14" viewBox="0 0 144 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="55.6361" height="14" rx="7" fill="#EB282E"/>
                            <rect x="62.1826" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                            <rect x="91.6367" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                            <rect x="121.091" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                        </svg>                            
                    </div>
                </div>
            </div>

            <div class="contributor">
                <div class="contributor-image">
                    <img src="{% static 'img/mkc.svg' %}" alt="Dr. Melvin K. Cabanatuan">
                </div>
                <div class="contributor-description">
                    <div class="contributor-name">Dr. Melvin K. Cabatuan</div>
                    <div class="contributor-text">Dr. Melvin K. Cabatuan is an Associate Professor in De La Salle University, Manila at the Gokongwei College of Engineering, Electronics Engineering Department. He graduated his PhD in Electronics and Communications Engineering in De La Salle University, Manila. He graduated his Master's in Engineering in Nara Institute of Science and Technology in Nara, Japan.' He graduated his Bachelors degree in ECE in Cebu Institute of Technology in Cebu City. His research interest are: machine learning, deep learning, computer vision, health informatics and breast cancer.</div>
                    <div class="contributor-trail-icon">
                        <svg width="144" height="14" viewBox="0 0 144 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="55.6361" height="14" rx="7" fill="#EB282E"/>
                            <rect x="62.1826" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                            <rect x="91.6367" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                            <rect x="121.091" width="22.909" height="14" rx="7" fill="#D9D9D9"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="contributor">
                <div class="contributor-image">
                    <img src="{% static 'img/jsv.svg' %}" alt="Jessica Velasco">
                </div>
                <div class="contributor-description">
                    <div class="contributor-name">Engr. Jessica S. Velasco</div>
                    <div class="contributor-text">Engr. Velasco is an Associate Professor in the Department of Electronics Engineering and serves as the College Secretary of the College of Engineering at Technological University of the Philippines, Manila. She earned her master’s degree in Electronics Engineering from De La Salle University (DLSU) and is currently pursuing a PhD in the same field at DLSU. Her research focuses on artificial intelligence and machine learning.</div>
                    <div class="contributor-trail-icon">
                        <img src="{% static 'img/trail.svg' %}" alt="">                           
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}