{% load static %}
{% include "main/links.html" %}

<div class="login-container">
    <div class="login-main">
        <div class="login-title">Fill Up</div>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                <div class="login-form-initials">
                    <label for="initials">Initials:</label>
                    <input type="text" name="initials" class="text-input-field" id="username-login" style="text-transform: uppercase;">
                </div>
                <div class="login-form-birthday">
                    <label for="birthday">Birthday:</label>
                    <input type="date" class="text-input-field" name="birthday">
                </div>
                <div class="login-form-checkup-day">
                    <div class="login-form-diagnosis-date-label">
                    </div>
                    <label for="diagnosis-date">Date of Diagnosis:</label>
                    <input type="date" class="text-input-field" name="diagnosis-date">
                </div>
                <div class="login-form-submit">
                    <button type="submit" class="login-form-submit-button">Submit</button>
                </div>
                <div class="login-extended">
                    <div class="forgot-password">
                        <a href="{% url 'doctor_login' %}">Login as a doctor?</a>
                    </div>
                    
                </div>
                {% if error %}
                <div style="color:#EB282E; font-weight:bold" class="error-login">
                    Invalid initials, birthday, or diagnosis date, please try again.
                </div>
                {% endif %}
            </div>
        </form>
    </div>
    
    <div class="login-icon">
        <img class='sub-svg' src="{% static 'img/sub-icon.svg' %}" alt="">
    </div>    
</div>