{% load static %}
{% include "main/links.html" %}

<div class="login-container">
    <div class="login-main">
        <div class="login-title">Signup</div>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                <div class="login-form-username">
                    <input type="text" name="username" class="text-input-field" id="username-login" placeholder="Username">
                    {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                    {% endif %}
                </div>
                <div class="login-form-password">
                    <input type="email" class="text-input-field" name="email" id="email" placeholder="Email">
                    {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="login-form-password">
                    <input type="password" class="text-input-field" name="password1" id="password-login" placeholder="Password">
                    {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="login-form-password">
                    <input type="password" class="text-input-field" name="password2" id="password-login" placeholder="Confirm password">
                    {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                    {% endif %}
                </div>
                <div class="login-form-remember">
                    <div class="remember-me-checkbox">
                        <input type="checkbox" class="checkbox">
                    </div>
                    <div class="remember-me">Remember me</div>
                </div>
                <div class="login-form-submit">
                    <button type="submit" class="login-form-submit-button">Signup</button>
                </div>
                <div class="login-extended">
                    <div class="login-new-user">
                        <div class="new-user">Already have an account?</div>
                        <div class="signup">
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="login-icon">
        <img class='sub-svg' src="{% static 'img/sub-icon.svg' %}" alt="">    
    </div>    
</div>