{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<div class="upload-container">
    <div class="upload-main">
    <form action="" method="post">
    {% csrf_token %}
        <div class="upload-title">Upload now</div>
        <div class="upload-image-container">
            <div class="upload-image-main">
                <input type="file" name="images" multiple>
                <div class="upload-image-icon">
                    <img src="{% static 'img/upload-icon.svg' %}" alt="">
                </div>
                <div class="upload-image-text">
                    Drag and drop images or click to upload
                </div>
                <input type="file" class="input-files" accept="image/*" multiple hidden>
            </div>
        </div>
        <div class="upload-details">
            <div class="upload-details-title">Fill Details</div>
            <div class="upload-details-block">
                <div class="upload-details-item">
                    <div class="upload-details-item-name">Patient's Initials:</div>
                    <div class="upload-details-item-value">
                        <input class="text-upload patient-initials" type="text" style="text-transform: uppercase" name="initials" id="" required>
                    </div>
                </div>
                <div class="upload-details-item">
                    <div class="upload-details-item-name">Patient's Birthday:</div>
                    <div class="upload-details-item-value">
                        <input class='date-upload' type="date" name="birthday" id="" required>
                    </div>
                </div>
                <div class="upload-details-item">
                    <div class="upload-details-item-name">Date of Diagnosis:</div>
                    <div class="upload-details-item-value">
                        <input class='date-upload date-now' type="date" name="diagnosis-date" disabled>
                    </div>
                </div>
            </div>
            <div class="upload-submit">
                <button class="upload-submit-button" type="submit">Submit</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}